input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

textarea {
  overflow: hidden;
}

/* Button inside nav will be completely styleless */
.nav-link {
  background-color: transparent;
  border: none;
  margin: 0 1svh;
  color: #ffffff;
  /* font-size: 1.2rem; */
  /* font-weight: bold; */
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

Link {
  background-color: transparent;
  border: none;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

/* .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  Navbar */
  .navbar {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 1rem;
    padding: 0.6rem 1rem ;
  }
  
  .navbar-brand {
    color: #212529;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link {
    color: #212529;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  
  /* Style the navbar */
  /* .navbar {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
   */
  .navbar-toggler {
    border-color: var(--secondary-color);
  }
  
  .navbar-toggler-icon {
    background-color: var(--secondary-color);
  }
  
  .nav-link {
    color: var(--secondary-color);
  }